<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
            
          </div>
          <div class="col-10">
              <mat-card>
                <div class="row" style="margin-top: 60px; font-family: 'Times New Roman', Times, serif;">
                    <div class="col-md-6"> <h3>Inventory</h3></div>
                    <div class="col-md-6"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                                      
                      <mat-card style="margin-top: 20px;">
                        <div class="row" >
                          <div class="col-md-6">                        
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Brand Name</mat-label>
                            <mat-select disableRipple class="textboxfont">
                              <mat-option value="1"><img src="assets/images/tablet.png" width="20" height="20" /> &nbsp; Panadol - 2.5mg  </mat-option>
                              <mat-option value="2"><img src="assets/images/tablet.png" width="20" height="20" /> &nbsp;  Hedex - 0.5mg   </mat-option>
                              <mat-option value="3"><img src="assets/images/Syrup.png" width="20" height="20" />&nbsp;  Disprol - 2.5ml  </mat-option>
                              <mat-option value="3"><img src="assets/images/tablet.png" width="20" height="20" /> &nbsp; Calpol - 1.5mg </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                          <div class="col-md-6">
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                              <mat-label class="labelfont">Supplier</mat-label>
                              <input matInput value="" class="textboxfont">
                            </mat-form-field>
                          </div>
                        </div>
                      <div class="row" >
                        <div class="col-md-6">                      
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                          <mat-label class="labelfont">Drug Type</mat-label>
                          <mat-select disableRipple class="textboxfont">
                            <mat-option value="1"> <img src="assets/images/Syrup.png" width="20" height="20" /> Syrup </mat-option>
                            <mat-option value="2"> <img src="assets/images/tablet.png" width="20" height="20" /> Tablet </mat-option>
                            <mat-option value="2"> <img src="assets/images/Capsule.png" width="20" height="20" /> Capsule </mat-option>
                            <mat-option value="2"> <img src="assets/images/inhaler.png" width="20" height="20" /> Inhaler </mat-option>
    
                          </mat-select>
                        </mat-form-field>
                      </div>
                        <div class="col-md-6">
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Purchace Price</mat-label>
                            <input matInput value="" class="textboxfont">
                          </mat-form-field>
                        </div>
    
                      </div>

                      <div class="row" >
                        <div class="col-md-6">   
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Quantity</mat-label>
                            <input matInput value="" class="textboxfont">
                          </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                              <mat-label class="labelfont">Manufacture Date</mat-label>
                              <input matInput [matDatepicker]="myDatePicker" >
                              <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                              <mat-datepicker #myDatePicker startView="multi-year"></mat-datepicker>
                            </mat-form-field>
                          </div>
                      </div>
                      
  
                      <div class="row" >
                        <div class="col-md-6">
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Expiry Date</mat-label>
                            <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">

                        </div>
                      </div>
                     
                        <button class="btn btn-primary mb-2 mr-2" (click)="SaveMedicine()" >Save</button>
    
                    </mat-card>


                      </div>
                  </div>
              </mat-card>
          
              </div>
              </div>
              </div>

    </div>
