.bodycontainer{
    margin-top: 60px;;
}

.cardtop{
    margin-top: 20px;;
}

.labelfont{
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.textboxfont{
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
}

.spacemataince{
  margin-top: 10px;
}



.userName{
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: bold;
}


.labelfullwidth{
  width: 100%;
}
.example-full-width {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
  }

  .dropdown-full-width {
    width: 100%;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;

  }

  table {
    width: 100%;
  }
.matTableBorder{
  border-style: groove;
  border-width: 0.2px;
  border-color: rgb(245, 241, 241);  
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.print_doc_name{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 50px;
}

.print_doc_qualification{
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  margin-left: 50px;
}