<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
            
          </div>
          <div class="col-10">
            <div class="lds-spinner" *ngIf="showLoadingIndicator" >
              <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="tablemap" style="margin-top: 10px;">
                <!-- Start Tab -->
                <tabset>
                  <!---------------------------------------------- start First Tab - Patient Details----------------------------- -->
                  <tab heading="Patient Details" id="patient_details"> 
                    
                    <app-patient></app-patient>
                    </tab>
                    <!---------------------------------------------- End First Tab - Patient Details----------------------------- -->

                    <!-- ----------------------Start Diagnosis---------------------------- -->
                    
                    <tab heading="Diagnosis" id="medical_history"> 
                      <mat-card class="cardtop">
                        <div class="row">
                          <div class="col-md-8"></div>
                          <div class="col-md-4">
                            <div class="userName">{{userDto.firstName}} {{userDto.lastName}} : 34 Years</div>
                          </div>
                          
                        </div>

                        <mat-card class="matTableBorder">
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width" floatLabel="always">
                              <mat-label class="labelfont">Presenting Complain</mat-label>
                              <textarea matInput class="textboxfont" rows="8" name="examination"  [(ngModel)]="diagnosisModel.examination"  ></textarea>
                            </mat-form-field>
                          </div>
                        </div> 
                      </mat-card>
                      
                        <mat-card class="matTableBorder" style="margin-top: 15px;">
                        <div class="row" style="margin-top: 20px;">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width" floatLabel="always">
                              <mat-label class="labelfont">Examination</mat-label>
                              <textarea matInput class="textboxfont" rows="8"  [(ngModel)]="diagnosisModel.presentingComplain"  ></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                        </mat-card>

                        <mat-card class="matTableBorder" style="margin-top: 15px;">
                          





                          <mat-card-header class="text-oneline">
                            <mat-card-title style="font-family: 'Times New Roman', Times, serif; font-weight: bold; font-size: 15px;" >  Precription</mat-card-title>
                          </mat-card-header>
                        <mat-card>
                          <form class="example-form spacemataince"  #userDepForm="ngForm"  (ngSubmit)="onSubmit()">
                            <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Medicine</mat-label>
                                  <!-- <mat-select disableRipple class="textboxfont" name="medicine" [(ngModel)]="prescribeDrugModel.drug">
                                    <mat-option value="Panadol"><img src="assets/images/tablet.png" width="20" height="20" /> &nbsp; Panadol - 2.5mg  </mat-option>
                                    <mat-option value="Hedex"><img src="assets/images/tablet.png" width="20" height="20" /> &nbsp;  Hedex - 0.5mg   </mat-option>
                                    <mat-option value="Disprol"><img src="assets/images/Syrup.png" width="20" height="20" />&nbsp;  Disprol - 2.5ml  </mat-option>
                                    <mat-option value="Calpol"><img src="assets/images/tablet.png" width="20" height="20" /> &nbsp; Calpol - 1.5mg </mat-option>
                                  </mat-select> -->
                                  <mat-select disableRipple class="textboxfont" name="medicine" [(ngModel)]="prescribeDrugModel.drug">                                    
                                    <mat-option *ngFor="let option of brandSetting" [value]="option.id">
                                        {{option.brandName}} 
                                      </mat-option>
                                </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Dose</mat-label>
                                  <input matInput value="" class="textboxfont" id="txtQty" name="dose" [(ngModel)]="prescribeDrugModel.dose" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Frequency</mat-label>
                                  <mat-select disableRipple class="textboxfont" name="frequency" [(ngModel)]="prescribeDrugModel.frequency" >
                                    <mat-option value="Morning/Lunch/Dinner">Morning/Lunch/Dinner</mat-option>
                                    <mat-option value="Morning/Dinner">Morning/Dinner</mat-option>
                                    <mat-option value="Morning">Morning</mat-option>
                                    <mat-option value="Dinner">Dinner</mat-option>
                                    <mat-option value="Lunch">Lunch</mat-option>
                                    <mat-option value="Every Six Hours">Every Six Hours</mat-option>
                                    <mat-option value="Every Four Hours">Every Four Hours</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont"># of Days</mat-label>
                                  <input matInput value="" class="textboxfont" name="day" [(ngModel)]="prescribeDrugModel.numberOfDay" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Qty</mat-label>
                                  <input matInput value="" class="textboxfont" id="txtQty" name="qty" [(ngModel)]="prescribeDrugModel.quantity" >
                                </mat-form-field>
                              </div>

                              


                            </div>
                            <div class="row">
                              <div class="row" style="margin-top: 10px; margin-left: 10px; ">
                                <button class="btn btn-outline-primary mb-2 mr-2" (click)="addMedicine('Dispensary')" type="submit" >Dispensary</button>
                                <button class="btn btn-outline-primary mb-2 mr-2" (click)="addMedicine('Pharmacy')" type="submit" >Pharmacy</button>
                              </div>
                            </div>
                          </form>
                        </mat-card>

                             
                                <mat-card>
                                  
                                  <div class="row" style="margin-top: 20px;">
                                  <div class="col-md-6">
                                    <!-- <div style="text-align: right; color:#1976D2"  (click)="print('Dispensary')" ><span class="material-icons">
                                      print
                                      </span></div> -->
                                      <div style="text-align: right; color:#1976d2" >
                                        <button  mat-button [disabled]="printButtonDisabled" (click)="print('Dispensary')"  class="btn btn-outline-primary mb-2 mr-2">
                                          <mat-icon>print</mat-icon>
                                           
                                      </button>
                                      </div>
                                    <table mat-table [dataSource]="dataSourceDiapensary" class="mat-elevation-z8">

                                      <!--- Note that these columns can be defined in any order.
                                            The actual rendered columns are set as a property on the row definition" -->
                                                                       <!-- Position Column -->
                                      <ng-container matColumnDef="stockid">
                                        <th mat-header-cell *matHeaderCellDef>  </th>
                                        <td mat-cell *matCellDef="let element" id="{{element.id}}"> <mat-icon style="color:#1976D2"><a (click)="removeDispansary(element)"> remove_circle </a></mat-icon> </td>
                                        
                                      </ng-container>

                                      <!-- Position Column -->
                                      <ng-container matColumnDef="medicine">
                                        <th mat-header-cell *matHeaderCellDef> Medicine </th>
                                        <td mat-cell *matCellDef="let element"> {{element.drug}} </td>
                                      </ng-container>
                                    
                                      <ng-container matColumnDef="dose">
                                        <th mat-header-cell *matHeaderCellDef> Dose </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
                                      </ng-container>

                                      <!-- Name Column -->
                                      <ng-container matColumnDef="nooftime">
                                        <th mat-header-cell *matHeaderCellDef> Frequency </th>
                                        <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
                                      </ng-container>

                                        <!-- Name Column -->
                                      <ng-container matColumnDef="day">
                                        <th mat-header-cell *matHeaderCellDef> Day </th>
                                        <td mat-cell *matCellDef="let element"> {{element.numberOfDay}} </td>
                                      </ng-container>

                                      <!-- Name Column -->
                                      <ng-container matColumnDef="qty">
                                        <th mat-header-cell *matHeaderCellDef> Qty </th>
                                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="stockqty">
                                        <th mat-header-cell *matHeaderCellDef> stockqty </th>
                                        <td mat-cell *matCellDef="let element" style="font-size: 10px; margin-left: 20px;"> {{element.stockqty}}%  <mat-progress-bar mode="determinate"  value="{{element.stockqty}}"></mat-progress-bar> </td>
                                      </ng-container>
                                    
                                    
                                      <tr mat-header-row *matHeaderRowDef="displayedColumnsDispancery"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumnsDispancery;"></tr>
                                    </table>
                                  </div>

                                  <div class="col-md-6">
                                    <!-- <div style="text-align: right; color:#1976D2" (click)="print('Pharmacy')" >
                                      <span class="material-icons">
                                      print
                                      </span>
                                    </div> -->
                                    <div style="text-align: right; color:#1976d2" >
                                      <button  mat-button [disabled]="printButtonDisabled"  (click)="print('Pharmacy')" class="btn btn-outline-primary mb-2 mr-2">
                                        <mat-icon>print</mat-icon>
                                    </button>
                                    </div>

                                    <table mat-table [dataSource]="dataSourcePhamacy" class="mat-elevation-z8">

                                      <!--- Note that these columns can be defined in any order.
                                            The actual rendered columns are set as a property on the row definition" -->
                                    
                                 <!-- Position Column -->
                                 <ng-container matColumnDef="stockid">
                                  <th mat-header-cell *matHeaderCellDef>  </th>
                                  <td mat-cell *matCellDef="let element" id="{{element.stockid}}"> <mat-icon  style="color:#1976D2"><a (click)="removePharmacy(element)"> remove_circle</a></mat-icon> </td>
                                  
                                </ng-container>


                                      <!-- Position Column -->
                                      <ng-container matColumnDef="medicine">
                                        <th mat-header-cell *matHeaderCellDef> Medicine </th>
                                        <td mat-cell *matCellDef="let element"> {{element.drug}} </td>
                                      </ng-container>
                                      <ng-container matColumnDef="dose">
                                        <th mat-header-cell *matHeaderCellDef> Dose </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
                                      </ng-container>

                                      <!-- Name Column -->
                                      <ng-container matColumnDef="nooftime">
                                        <th mat-header-cell *matHeaderCellDef> Frequency </th>
                                        <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
                                      </ng-container>

                                        <!-- Name Column -->
                                      <ng-container matColumnDef="day">
                                        <th mat-header-cell *matHeaderCellDef> Day </th>
                                        <td mat-cell *matCellDef="let element"> {{element.numberOfDay}} </td>
                                      </ng-container>

                                      <!-- Name Column -->
                                      <ng-container matColumnDef="qty">
                                        <th mat-header-cell *matHeaderCellDef> Qty </th>
                                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                                      </ng-container>


                                      <ng-container matColumnDef="stockqty">
                                        <th mat-header-cell *matHeaderCellDef> stockqty </th>
                                        <td mat-cell *matCellDef="let element" style="font-size: 10px; margin-left: 20px;"> {{element.stockqty}}%  <mat-progress-bar mode="determinate"  value="{{element.stockqty}}"></mat-progress-bar> </td>
                                      </ng-container>

                                    
                                    
                                      <tr mat-header-row *matHeaderRowDef="displayedColumnsPharmacy"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumnsPharmacy;"></tr>
                                    </table>


                                  </div>
                                  

                                </div>
                                </mat-card>


                                <mat-card>
                                  
                                  <div class="row" style="margin-top: 20px;">

                                      <div class="col-md-12">
                                        <mat-form-field class="example-full-width" floatLabel="always">
                                          <mat-label class="labelfont">Investigations</mat-label>
                                          <textarea matInput class="textboxfont" rows="8" name="investigation" [(ngModel)]="investigation.investgationDescription"   ></textarea>
                                        </mat-form-field>
                                      </div>
                                    </div> 
                                    <div class="row">
                                      <div class="col-md-4">
                                        <mat-form-field class="labelfullwidth" floatLabel="always">
                                          <mat-label class="labelfont">Doctor Fee :</mat-label>
                                          <input matInput value="" class="textboxfont" id="txtQty" placeholder="RS:" name="fee" [(ngModel)]="fee.amount"  >
                                        </mat-form-field>
                                      </div>
                                      <div class="col-md-8">
                                        
                                      </div>
                                      
                                    </div>
                                    <div>
                                      <button class="btn btn-primary mb-2 mr-2" (click)="createDiagnosis()" >Save</button>
                                    </div>
                                </mat-card>


                        </mat-card>

                        </mat-card>
                    </tab>     
<!-- --------------------------------------------End Diagnosis------------------- -->
                                      <!---------------------------------------------- start First Tab - Medical History----------------------------- -->
               
                  <tab heading="Past Medical History" id="medical_history"> 
                    <mat-card class="cardtop">
                      <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                          <div class="userName">Thushani Fernando : 34 Years</div>
                        </div>
                        
                      </div>
                        
                        <div class="row" style="margin-top: 20px;">

                      
                          <div class="col-md-12" >

                            
                          <mat-form-field>
                            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                          </mat-form-field>
                         

          <table mat-table
                [dataSource]="dataSource" multiTemplateDataRows
                class="mat-elevation-z8">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          <span class="example-element-description-attribution"> # Dispensary </span>
          {{element.description}}
        </div> 
      </div>

      <div class="example-element-detail"
      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
   <div class="example-element-description">
     <span class="example-element-description-attribution"> # Pharmacy </span>
     {{element.description1}}
   </div>
 </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>



                          </div>
                          
                        </div>


                        </mat-card>

                        

                    
                      </tab>
                    <!---------------------------------------------- End First Tab - Medical History----------------------------- -->

               <!--InvestigationsTab End--------------------- -->
                                      <!---------------------------------------------- start First Tab - Allergies----------------------------- -->
                      <tab heading="Allergies" id="allergies"> 
                        <mat-card class="cardtop">

                          <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                              <div class="userName">Thushani Fernando : 34 Years</div>
                            </div>
                            
                          </div>

                          <div class="col-md-1" >
  
                          </div>
                          
                          <div class="col-md-10" >
                              <mat-form-field class="example-full-width" floatLabel="always">
                                  <mat-label class="labelfont">Diagnosis</mat-label>
                                  <textarea matInput class="textboxfont" name="allergyDescription" [(ngModel)]="allergy.allergyDescription"></textarea>
                                </mat-form-field>
                                
                                <button class="btn btn-primary mb-2 mr-2" (click)="SaveAllergy()" >Save</button>
  
  
                          </div>
                          <div class="col-md-1" >
  
                          </div>
  
                          <div class="row" style="margin-top: 20px;">
  
                            <div class="col-md-1" >
  
                            </div>
                            <div class="col-md-10" >
  
                              
                            <mat-form-field>
                              <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                            </mat-form-field>
                            <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
  
                              <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.createDate  | date :'shortDate'}} </td>
                              </ng-container>
                            
                              <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Diagnosis </th>
                                <td mat-cell *matCellDef="let element"> {{element.allergyDescription}} </td>
                              </ng-container>
                            
                              <tr mat-header-row *matHeaderRowDef="displayedColumnsAllergies"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumnsAllergies;"></tr>
                            </table>
  
   

                            <mat-paginator 
                            [pageSizeOptions]="[5, 10, 25, 100]"> showFirstLastButtons </mat-paginator>
                          
  
                            </div>
                            <div class="col-md-1" >
  
                            </div>
                            
                          </div>
  
  
                          </mat-card>
                        </tab>
                    <!---------------------------------------------- End First Tab - Allergies----------------------------- -->


                                        <!---------------------------------------------- start First Tab - Tests----------------------------- -->
                                        <tab heading="Investigations" id="Testd"> 
                                          <mat-card class="cardtop">

                                            <div class="row">
                                              <div class="col-md-8"></div>
                                              <div class="col-md-4">
                                                <div class="userName">Thushani Fernando : 34 Years</div>
                                              </div>
                                              
                                            </div>
                                            

                    
                                            <div class="row" style="margin-top: 20px;">
                    
                                              <div class="col-md-12" >
                    
                                                
                                              <mat-form-field>
                                                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                                              </mat-form-field>
                                              <table ngmo mat-table [dataSource]="dataSource3" class="mat-elevation-z8 text-nowrap tblFont table table-bordered container-fluid table-hover table-sm thead-dark" 
                                              style="text-align: left; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width:100%">
 
                                              <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef >Id  </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                  <mat-checkbox (change)="$event ? masterToggle($event,element) : null" name="invest"></mat-checkbox>  
                                                </td>
                                              </ng-container>
                                              

                                                <ng-container matColumnDef="position">
                                                  <th mat-header-cell *matHeaderCellDef> Date </th>
                                                  <td mat-cell *matCellDef="let element"> {{element.createDate  | date :'shortDate'}} </td>
                                                </ng-container>
                                              
                                                <ng-container matColumnDef="name">
                                                  <th mat-header-cell *matHeaderCellDef> Investigation </th>
                                                  <td mat-cell *matCellDef="let element"> {{element.investgationDescription}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="result">
                                                  <th mat-header-cell *matHeaderCellDef> Result </th>
                                                  <td mat-cell *matCellDef="let element"> 
                                                    <mat-form-field class="example-full-width" floatLabel="always">
                                                      <textarea matInput class="textboxfont" id="{{element.id}}" rows="5"  >{{element.investgationResult}}</textarea>
                                                    </mat-form-field>

                                                  </td>
                                                </ng-container>
                                              
                                              
                                                <tr mat-header-row *matHeaderRowDef="displayedColumnsTests"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumnsTests;"></tr>
                                              </table>
                    
                                              <mat-paginator 
                                              [pageSizeOptions]="[5, 10, 25, 100]"> showFirstLastButtons </mat-paginator>
                                            
                                              <button class="btn btn-primary mb-2 mr-2" (click)="createInvestigation()" >Save</button>

                    
                                              </div>
                                              
                                            </div>
                    
                    
                                            </mat-card>
                                          </tab>
                                      <!---------------------------------------------- End First Tab - Tests----------------------------- -->
                  

<!---------------------------------------------- start First Tab - Prescribe----------------------------- -->
                        
<tab heading="Medical" id="Testd"> 
  <mat-card class="cardtop">

    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="userName">{{userDto.firstName}} {{userDto.lastName}}</div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="labelfullwidth" floatLabel="always">
          <mat-label class="labelfont">Name</mat-label>
          <input matInput value="" class="textboxfont" id="txtQty" value="Thushani Fernando">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="labelfullwidth" floatLabel="always">
          <mat-label class="labelfont">Age</mat-label>
          <input matInput value="" class="textboxfont" id="txtQty" value="34">
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="labelfullwidth" floatLabel="always">
          <mat-label class="labelfont">NIC</mat-label>
          <input matInput value="" class="textboxfont" id="txtQty" value="876566543V">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="labelfullwidth" floatLabel="always">
          <mat-label class="labelfont">Address</mat-label>
          <input matInput value="" class="textboxfont" id="txtQty" value="No 100, St. marys road Jaela">
        </mat-form-field>
      </div>

    </div>
    <div class="row">

      <div class="col-md-12">
        <button class="btn btn-primary mb-2 mr-2" (click)="SaveDiagnosis()" >Print</button>

      </div>
    </div>
    </mat-card>
    </tab>

 <!---------------------------------------------- End First Tab - Prescribe----------------------------- -->


                      </tabset>
                      </div>
              
            <!-- <app-patient></app-patient> -->
          </div>
        </div>
      </div>
</div>


<div id="print-section" hidden> 
  <div class="container">
    <div class="row" >
  
      <table>
        <tbody>
          <!-- <tr>
            <td class="print_doc_name">DR.Aruni Fernando</td>
            <td > PGDH Sc - Diabetology,Uk </td> 
            <td > PDC- Diabetology, Boston,USA </td> 
            <td > Regd.No - 16401(AMC) </td> 
          </tr> -->
          <tr>
            <td>
              <div id="bloc2"> <div style="width:800px;height:100px ">
                <span style="font-family: 'Times New Roman', Times, serif; margin-left: 50px ; font-size: 25px;">DR.Aruni Fernando <sub style=" font-size: 10px;">MBBS</sub> </span>
               <br/> <span style="font-family: 'Times New Roman', Times, serif;margin-left: 50px ; font-size: 15px;">PGDH Sc - Diabetology,Uk </span>
               <br/> <span style="font-family: 'Times New Roman', Times, serif;margin-left: 50px ; font-size: 15px;">PDC- Diabetology, Boston,USA  </span>
               <br/> <span style="font-family: 'Times New Roman', Times, serif;margin-left: 50px ; font-size: 15px;">Regd.No - 16401(AMC)  </span>
              </div></div>
            </td> 
            <td>
              <div id="bloc2"> <div style="width:300px;height:100px ">
                <span style="font-family: 'Times New Roman', Times, serif; margin-left: 50px ; font-size: 20px;"></span>
               <br/> <br />  <span style="font-family: 'Times New Roman', Times, serif; font-size: 15px; text-align: right">Contact Number : 077-655454 </span>
               <br/> <span style="font-family: 'Times New Roman',  Times, serif; font-size: 15px; text-align: right;">Email : aruni@gmail.com  </span>
               <br/> <span style="font-family: 'Times New Roman',  Times, serif; font-size: 15px; text-align: right;">Date : {{today | date:'fullDate'}}  </span>
              </div></div>
            </td> 
          </tr>
        </tbody>
      </table>
      <hr />
    </div>

    <div class="card" style="margin-top: 25px;" >
      
      <div class="row">
        <table>
          <!-- <tr>
            <th><div id="bloc2"> <div style="width:250px;height:30px;border:1px solid #000; ">
              <span style="margin-left: 20px ; font-size: 10px;">Medicine </span>
            </div></div></th>
            <th><div id="bloc2"> <div style="width:500px;height:30px;border:1px solid #000; ">
              <span style="margin-left: 20px ; font-size: 10px;">Dose </span>
            </div></div></th>
            <th><div id="bloc2"> <div style="width:250px;height:30px;border:1px solid #000; ">
              <span style="margin-left: 20px ; font-size: 10px;">QTY </span>
            </div></div></th>
          </tr> -->
          <tr *ngFor="let data of pdfData">
            <td><div id="bloc2"> <div style="width:250px;height:30px;">
              <span style="margin-left: 20px ; font-size: 15px;">{{data.drug}} </span>
            </div></div></td>
            <td><div id="bloc2"> <div style="width:500px;height:30px;">
              <span style="margin-left: 20px ; font-size: 15px;">{{data.dose}} </span>
            </div></div></td>
            <td><div id="bloc2"> <div style="width:250px;height:30px; ">
              <span style="margin-left: 20px ; font-size: 15px;">{{data.quantity}} </span>
            </div></div></td>
          
          </tr>
          </table> 
      </div>
      

      </div>
    </div>
    </div>
