
<div class="card" >
    <div class="card-body">

        <mat-card class="cardtop">
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-4">
                <div class="userName">Thushani Fernando : 34 Years</div>
              </div>
              
            </div>
              
              <div class="row" style="margin-top: 20px;">
                <app-patient></app-patient>
            
               <!-- <div class="col-md-12" >

                  
                <mat-form-field>
                  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                </mat-form-field>
               

<table mat-table
      [dataSource]="dataSource" multiTemplateDataRows
      class="mat-elevation-z8">
<ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
  <th mat-header-cell *matHeaderCellDef> {{column}} </th>
  <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
</ng-container>

<ng-container matColumnDef="expandedDetail">
<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
<div class="example-element-detail"
  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
<div class="example-element-description">
<span class="example-element-description-attribution"> # Dispensary </span>
{{element.description}}
</div> 
</div>

<div class="example-element-detail"
[@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
<div class="example-element-description">
<span class="example-element-description-attribution"> # Pharmacy </span>
{{element.description1}}
</div>
</div>
</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let element; columns: displayedColumns;"
class="example-element-row"
[class.example-expanded-row]="expandedElement === element"
(click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>



                </div>  -->
                
              </div>


              </mat-card>
        </div>
        </div>