.titleheading{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 60px;
}

table {
    width: 100%;
  }


.labelfont{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  .textboxfont{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
  }
  .labelfullwidth{
    width: 100%;
  }
  