<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
  <a class="navbar-brand logo" routerLink="/dashboard">H <sup>+</sup> PLUS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActiveOptions={acact:true} routerLinkActive="active" routerLink="/home" > <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/link"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/sell"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/user/register" tabindex="-1" ></a>
      </li>
    </ul>

    <div>
      <ul class="nav navbar-nav banner_user">

        <li *ngIf="loggedIn()" class="nav-item banner_user">
          <a class="nav-link banner"
          routerLinkActive="Active"
          > <span class="banner_user" >{{ logUserName}} : {{userCompanyName}}</span></a>
        </li>

        <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link"
          routerLink="/"
          routerLinkActive="Active"
          ><span class="banner_user" >Login</span> </a>
        </li>

        <li *ngIf="loggedIn()"  class="nav-item">
          <a class="nav-link"
          routerLink="/"
          routerLinkActive="Active"
          ><span class="banner_user" >Logout</span>  </a>
        </li>

      </ul>
    </div>

  </div>
</nav>


