<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-navbar></app-navbar>
    </div>
  </div>

  <div class="container-fluid bodycontainer">
      <div class="row">
        <div class="col-2">
              <app-left-menu></app-left-menu>
          
        </div>
        <div class="col-10">
          <div class="lds-spinner" *ngIf="showLoadingIndicator" >
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="tablemap" style="margin-top: 10px;">
              <mat-card>
                  <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
                  <div class="row" style="margin-top: 50px; "> 


                        <div class="col-md-6">
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Drug Type</mat-label>
                            <input matInput value="" class="textboxfont" required #type="ngModel" name="type"  [(ngModel)]="drugTypeDto.type" >
                          </mat-form-field>
                          <small class="text-danger" [class.d-none]="type.valid || type.untouched" >Brand Name required</small>
                        </div>

                        <div class="col-md-6">                        
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                          <mat-label class="labelfont">Drug Image</mat-label>
                          <mat-select disableRipple class="textboxfont"  name="imageId"  [(ngModel)]="drugTypeDto.imageId" >
                              <mat-option *ngFor="let option of drugImage" [value]="option.id">
                                <img src="{{option.url}} " width="20" height="20" /> &nbsp; {{option.description}}
                                </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      </div>
                     
                      <div class="row" >
                          <div class="col-md-4">
                              <button [disabled]="userForm.form.invalid" class="btn btn-primary mb-2 mr-2" type="submit" >Save</button> &nbsp;
                              <button class="btn btn-outline-primary mb-2 mr-2" (click)="Clean()" type="button" >Edit</button>
                          </div>
                      </div>
                      </form>

                      <div class="row" style="margin-top: 20px;">
                   
                          <div class="col-md-12">
                                  <mat-form-field>
                                      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                                    </mat-form-field>
                                    <div class="example-container mat-elevation-z8 table  table-bordered table-sm"></div>
                                    <table mat-table [dataSource]="dataSource" matSort>
                  
                                      <!--- Note that these columns can be defined in any order.
                                            The actual rendered columns are set as a property on the row definition" -->
                                    
                                 <!-- Position Column -->
                                 <ng-container matColumnDef="stockid">
                                  <th mat-header-cell  *matHeaderCellDef>  </th>
                                  <td mat-cell *matCellDef="let element" id="{{element.id}}"> <mat-icon  color="primary"><a (click)="removeMedicine(element)"> remove_circle</a>&nbsp; <a (click)="editMedicine(element)"> edit</a></mat-icon> </td>
                                  
                                </ng-container>
                  
                  
                                      <!-- Position Column -->
                                      <ng-container matColumnDef="drugtype">
                                        <th mat-header-cell mat-sort-header  *matHeaderCellDef> Drug Type </th>
                                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                      </ng-container>


                                        

            
      
                                      <tr mat-header-row *matHeaderRowDef="displayedColumnsPharmacy"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumnsPharmacy;"></tr>
                                    </table>
                                  </div>
      <mat-paginator [length]="100"
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
                                
                          </div>
                      </mat-card>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
