<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
            
          </div>
          <div class="col-10">
            <div class="lds-spinner" *ngIf="showLoadingIndicator" >
              <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="tablemap" style="margin-top: 10px;">
                <mat-card >
                    <div class="row" style="margin-top: 50px; " > 

                        <div class="col-md-6">
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                              <mat-label class="labelfont">First Name</mat-label>
                              <input matInput value="" required #firstName="ngModel" class="textboxfont" id="serch_first_name" name="firstName" [(ngModel)]="userDto.firstName"  >
                            </mat-form-field>
                            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched" >First Name is required</small>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                              <mat-label class="labelfont">Last Name</mat-label>
                              <input matInput value="" required #lastName="ngModel" class="textboxfont" id="serch_first_name" name="lastName" [(ngModel)]="userDto.lastName"  >
                            </mat-form-field>
                            <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched" >Last Name is required</small>
                          </div>


                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">User Name</mat-label>
                                  <input matInput value=""  required #userName="ngModel" class="textboxfont" id="serch_first_name" name="userName"  [(ngModel)]="userDto.userName"  >
                                </mat-form-field>
                                <small class="text-danger" [class.d-none]="userName.valid || userName.untouched" >User Name is required</small>

                              </div>
    
                              <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Password</mat-label>
                                  <input matInput type="password"   required #password="ngModel" class="textboxfont" id="serch_first_name" name="password" [(ngModel)]="userDto.password"  >
                                </mat-form-field>
                                <small class="text-danger" [class.d-none]="password.valid || password.untouched" >Password is required</small>

                              </div>

                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <!-- <mat-radio-group aria-label="Select an option" ngModel required #isDoctor="ngModel" (change)="onChange($event)" name="isDoctor" [(ngModel)]="userDto.isDoctor" >
                                    <mat-radio-button value="System_User"  [checked]="true" >System User</mat-radio-button>
                                    <mat-radio-button value="Doctor" >Doctor</mat-radio-button>
                                  </mat-radio-group> -->
                                  <mat-radio-group (change)="onChange($event)">
                                    <mat-radio-button value="System_User" checked>System User</mat-radio-button>
                                    <mat-radio-button value="Doctor" #female>Doctor</mat-radio-button>
                                  </mat-radio-group> 
                            </div>
                                <div class="col-md-6" *ngIf="isSelectDoctor">
                                    <mat-form-field class="labelfullwidth" floatLabel="always">
                                      <mat-label class="labelfont">Doctor SLMC Number</mat-label>
                                      <input matInput  required #slmcNumber="ngModel"  class="textboxfont" id="serch_first_name" name="slmcNumber"  [(ngModel)]="userDto.slmcNumber"  >
                                    </mat-form-field>
                                    <small class="text-danger" [class.d-none]="slmcNumber.valid || slmcNumber.untouched" >SLMC is required</small>

                                  </div>
                        </div>

                        <div class="row" style="margin-top: 50px;">
                            <button class="btn btn-primary mb-2 mr-2" (click)="SaveUser()" >Save User</button>
                        </div>


                        </mat-card>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>