.labelfullwidth{
    width: 100%;
  }

  .textboxfont{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }