.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}
.mat-form-field + .mat-form-field {
    margin-left: 12px;
  }

  /* Styles for wrapping the search box */

.body{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body-label{
    font-weight: bold;
}
.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

table {
    width: 100%;
  }


  
  .example-container {
    overflow-x: scroll;
  }

  .mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.table_spaser{
    margin-top: 20px;
}

.txtboxroundedge{
  border-radius: 1rem;
}

.example-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 100%;
}

.example-full-width {
  width: 100%;
  font-size: 17px;
  font-weight: bolder;
}


.labelfont{
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.textboxfont{
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
}
.labelfullwidth{
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field + .mat-form-field {
  margin-left: 12px;
}

.matcardspace{
  margin-top: 30px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.text-oneline ::ng-deep * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;;
  font-weight: bolder;
}

.radiobtn{
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: 600;
  color: rgb(138, 135, 135);
}



::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #007bff!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#007bff!important; /*outer ring color change*/
}


table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }