<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
            
          </div>
          <div class="col-10">
              <mat-card>
                <div class="row" style="margin-top: 60px; font-family: 'Times New Roman', Times, serif;">
                    <div class="col-md-6"  style="font-family: 'Times New Roman', Times, serif; font-weight: bold; font-size: 15px;" > Add Generic Name</div>
                    <div class="col-md-6"></div>
                   

                  </div>
                  <div class="row" style="margin-top: 20px;">

                    <div class="col-md-8">
                        <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Medicine Generic Name</mat-label>
                            <input matInput value="" class="textboxfont" required #slgenericNamemc="ngModel"  name="slgenericNamemc"  [(ngModel)]="medicineGenericModel.genericName">
                          </mat-form-field>
                          <small class="text-danger" [class.d-none]="slgenericNamemc.valid || slgenericNamemc.untouched" >Generic Name is required</small>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary mb-2 mr-2"  (click)="SaveMedicine()" >Save</button>
                        <!-- <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Type</mat-label>
                            <input matInput value="" class="textboxfont">
                          </mat-form-field> -->
                    </div>
                  </div>

                  <!-- <button class="btn btn-primary mb-2 mr-2" (click)="SaveMedicine()" >Save</button> -->

                  <div class="row" style="margin-top: 20px;">
                     
                    <div class="col-md-12">
                            <mat-form-field>
                                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                              </mat-form-field>
                              <div class="example-container mat-elevation-z8 table  table-bordered table-sm"></div>
                              <table mat-table [dataSource]="dataSource" matSort>
            
                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->
                              
                           <!-- Position Column -->
                           <ng-container matColumnDef="stockid">
                            <th mat-header-cell  *matHeaderCellDef>  </th>
                            <td mat-cell *matCellDef="let element" id="{{element.id}}"> <mat-icon  color="primary"><a (click)="removeMedicine(element)"> remove_circle</a>&nbsp; <a (click)="editMedicine(element)"> edit</a></mat-icon> </td>
                            
                          </ng-container>
            
            
                                <!-- Position Column -->
                                <ng-container matColumnDef="medicine">
                                  <th mat-header-cell mat-sort-header  *matHeaderCellDef> Medicine Name </th>
                                  <td mat-cell *matCellDef="let element"> {{element.genericName}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsPharmacy"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsPharmacy;"></tr>
                              </table>
                            </div>
<mat-paginator [length]="100"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
                          
                    </div>
                    <!-- <div class="col-md-4">
                        
                    </div> -->
                    
              </mat-card>
                  </div>




              </div>
</div>
</div>
