<div class="card" >
  <div class="card-body">

    <mat-accordion>
      <mat-expansion-panel hideToggle>
    
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Search Patient
          </mat-panel-title>
          <mat-panel-description>
            <label>Click for search patient</label>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <form class="example-form" >
          <div class="row">
            
            <div class="col-md-3">
              <mat-form-field class="labelfullwidth" floatLabel="always">
                <mat-label class="labelfont">First Name</mat-label>
                <input matInput value="" class="textboxfont" id="serch_first_name" name="firstName"  [(ngModel)]="searchUserModel.firstName">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="labelfullwidth" floatLabel="always">
                <mat-label class="labelfont">Last Name</mat-label>
                <input matInput  value="" class="textboxfont" id="search_last_name"  name="lastName"  [(ngModel)]="searchUserModel.lastName">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="labelfullwidth" floatLabel="always">
                <mat-label class="labelfont">Date Of Birth</mat-label>
                <input matInput [matDatepicker]="myDatePicker" [min]="maxDate" [max]="minDate" id="search_dateofbirth" name="dateOfBirth"  [(ngModel)]="searchUserModel.dateOfBirth">
                <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #myDatePicker startView="multi-year"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <button class="btn btn-outline-primary mb-2 mr-2" (click)="searchPatient()" >Search</button>
            </div>
            
          </div>
        </form>
        </mat-card>
        <mat-card *ngIf="displayTable" class="matcardspace">
        
          <mat-form-field>
            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
                  <!-- <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef >  </th>
                    <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="{{element.id}}" > </td>
                  </ng-container> -->

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef >  </th>
                    <td mat-cell *matCellDef="let element"> 
                      <mat-checkbox (change)="$event ? masterToggle($event,element) : null"></mat-checkbox>  
                    </td>
                  </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="lname">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="fname">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef> DOB </th>
              <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date :'shortDate'}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="nic">
              <th mat-header-cell *matHeaderCellDef> NIC </th>
              <td mat-cell *matCellDef="let element"> {{element.nic}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator 
          [pageSizeOptions]="[5, 10, 25, 100]"> showFirstLastButtons </mat-paginator>
          
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="nextPatient()" >Next</button> &nbsp;
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="EditPatient(dataSource)" >Edit</button>
        
        </mat-card>

        
      </mat-expansion-panel>
    
    </mat-accordion>

    <mat-card class="matcardspace">
      <mat-card-header class="text-oneline">
        <mat-card-title >Patient Details</mat-card-title>
      </mat-card-header>
      <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
       <!-- {{userForm.form.valid}} -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont">First Name</mat-label>
            <input id="txtFirstName" required #firstName="ngModel" name="firstName" matInput value="" class="textboxfont" [(ngModel)]="patientModel.firstName">
          </mat-form-field>
          <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched" >First Name is required</small>
        </div>
        {{firstName.className}}
        <div class="col-md-6">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont">Last Name</mat-label>
            <input id="txtLastName"  required #lastName="ngModel" name="lastName" matInput value="" class="textboxfont"  [(ngModel)]="patientModel.lastName"> 
          </mat-form-field>
          <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched" >Last Name is required</small>

        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont">Date Of Birth</mat-label>
            <input id="txtDateOfBirth"  required #dateOfBirth="ngModel" name="dateOfBirth" matInput [matDatepicker]="picker"  [(ngModel)]="patientModel.dateOfBirth">
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <small class="text-danger" [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched" >Date Of Birth is required</small>
        </div>
        <div class="col-md-6">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont">NIC</mat-label>
            <input id="txtNIC" name="nic" matInput value="" class="textboxfont"  [(ngModel)]="patientModel.nic">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <mat-label  class="radiobtn">Gender</mat-label><br />
          <mat-radio-group aria-label="Select an option" class="textboxfont" id="radioGender"  required #gender="ngModel" name="gender"  [(ngModel)]="patientModel.gender" >
            <mat-radio-button value="male"   id="radioMale"  >Male</mat-radio-button>
            <mat-radio-button value="female"  id="radioFemale" >Female</mat-radio-button>
          </mat-radio-group>
          
          <small class="text-danger" [class.d-none]="gender.valid || gender.untouched" >Gender is required</small>
        </div>
        <div class="col-md-6" *ngIf="!userDto.isDoctor">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont" >Select Doctor</mat-label>
            <mat-select required #slmc="ngModel" name="slmc"  [(ngModel)]="patientModel.slmc" >
              <mat-option *ngFor="let option of clinicUsers" [value]="option.slmcNumber">
                {{option.firstName}} {{option.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <small class="text-danger" [class.d-none]="slmc.valid || slmc.untouched" >Doctor is required</small>
        </div>
      </div>
     

      <mat-card-header class="text-oneline">
        <mat-card-title >Contact Details</mat-card-title>
      </mat-card-header>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont">Address</mat-label>
            <input matInput value="" class="textboxfont" id="txtAddress"  required #address="ngModel" name="address"  [(ngModel)]="patientModel.address">
          </mat-form-field>
          <small class="text-danger" [class.d-none]="address.valid || address.untouched" >Address is required</small>
        </div>
        <div class="col-md-6">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont">Phone Number</mat-label>
            <input matInput value="" pattern="^\d{10}$" class="textboxfont" required #phoneNumber="ngModel" id="txtPhoneNumber" name="phoneNumber"  [(ngModel)]="patientModel.phoneNumber">
          </mat-form-field>
          <small class="text-danger" [class.d-none]="phoneNumber.valid || phoneNumber.untouched" >Phone number must required and must be 10 digits</small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont">Email Address</mat-label>
            <input matInput value="" class="textboxfont" id="txtEmailAddress" name="emailAddress"  [(ngModel)]="patientModel.emailAddress">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont">Emergency Contact Name</mat-label>
            <input matInput value="" class="textboxfont" id="txtEmergencyContactName" name="emergencyContactName"  [(ngModel)]="patientModel.emergencyContactName">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="labelfullwidth" floatLabel="always">
            <mat-label class="labelfont">Emergency Contact Number</mat-label>
            <input matInput value="" class="textboxfont" id="txtEmergencyContactNumber" name="emergencyContactNumber"  [(ngModel)]="patientModel.emergencyContactNumber">
          </mat-form-field>
        </div>
        <div class="col-md-6">

        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <button [disabled]="userForm.form.invalid" class="btn btn-primary mb-2 mr-2" type="submit" >Save</button> &nbsp;
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="Clean()" type="button" >Edit</button>
      </div>
      <div class="col-md-8"></div>
      </div>
    </form>
    </mat-card>

  </div>
</div>

