.labelfont{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  .textboxfont{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
  }
  .labelfullwidth{
    width: 100%;
  }
  .example-container {
    overflow-x: scroll;
  }


  .titleheading{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 60px;
}

table {
    width: 100%;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .tableheader{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
  }

  .example-container {
    overflow-x: scroll;
  }

  .mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}
