<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
            
          </div>
          <div class="col-10">
              <mat-card>
                <div class="row" style="margin-top: 60px; font-family: 'Times New Roman', Times, serif;">
                    <!-- <div class="col-md-6"  style="font-family: 'Times New Roman', Times, serif; font-weight: bold; font-size: 15px;" > Add New Medicine</div>
                    <div class="col-md-6"></div> -->
                   

                  </div>

   
                  <div class="row" style="margin-top: 20px;">

                    <div class="col-md-6">
                      <mat-form-field class="labelfullwidth" floatLabel="always">
                        <mat-label class="labelfont">Medicine</mat-label>
                        <mat-select disableRipple class="textboxfont">
                          <mat-option value="1">Paracetamol   </mat-option>
                          <mat-option value="2">Nafcillin  </mat-option>
                          <mat-option value="3">Acetic Acid </mat-option>
                          <mat-option value="3">Amoxicillin  </mat-option>
                          <mat-option value="4">Cloxacillin  </mat-option>

                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-primary mb-2 mr-2" (click)="SaveMedicine()" >Check Availability</button>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <!-- <mat-form-field class="labelfullwidth" floatLabel="always">
                          <mat-label class="labelfont">Brand Name</mat-label>
                          <input matInput value="" class="textboxfont">
                        </mat-form-field> -->
                  </div>
                    <div class="col-md-6">
                      <!-- <button class="btn btn-primary mb-2 mr-2" (click)="SaveMedicine()" >Check Availability</button> -->

                    </div>
                    
                  </div>



                  

                  <mat-card style="margin-top: 20px;">
                    <div class="row" >
                      <div class="col-md-6">                        
                        <mat-form-field class="labelfullwidth" floatLabel="always">
                        <mat-label class="labelfont">Brand Name</mat-label>
                        <input matInput value="" class="textboxfont">
                      </mat-form-field></div>
                      <div class="col-md-6">
                        <mat-form-field class="labelfullwidth" floatLabel="always">
                          <mat-label class="labelfont">Supplier</mat-label>
                          <input matInput value="" class="textboxfont">
                        </mat-form-field>
                      </div>
                    </div>
                  <div class="row" >
                    <div class="col-md-6">                      
                      <mat-form-field class="labelfullwidth" floatLabel="always">
                      <mat-label class="labelfont">Drug Type</mat-label>
                      <mat-select disableRipple class="textboxfont">
                        <mat-option value="1"> <img src="assets/images/Syrup.png" width="20" height="20" /> Syrup </mat-option>
                        <mat-option value="2"> <img src="assets/images/tablet.png" width="20" height="20" /> Tablet </mat-option>
                        <mat-option value="2"> <img src="assets/images/Capsule.png" width="20" height="20" /> Capsule </mat-option>
                        <mat-option value="2"> <img src="assets/images/inhaler.png" width="20" height="20" /> Inhaler </mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                    <div class="col-md-6">
                      <mat-form-field class="labelfullwidth" floatLabel="always">
                        <mat-label class="labelfont">Drug Strength</mat-label>
                        <input matInput value="" class="textboxfont">
                      </mat-form-field>
                    </div>

                  </div>

                  <div class="row" >
                    <div class="col-md-6">                        
                      <mat-form-field class="labelfullwidth" floatLabel="always">
                      <mat-label class="labelfont">Unit</mat-label>
                      <input matInput value="" class="textboxfont">
                    </mat-form-field></div>
                    <div class="col-md-6">
                      <mat-form-field class="labelfullwidth" floatLabel="always">
                        <mat-label class="labelfont">Minimum Qty</mat-label>
                        <input matInput value="" class="textboxfont">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row" >
                    <div class="col-md-6">                        
                      <mat-form-field class="labelfullwidth" floatLabel="always">
                      <mat-label class="labelfont">Selling Price</mat-label>
                      <input matInput value="" class="textboxfont">
                    </mat-form-field></div>
                    <div class="col-md-6">
                      <!-- <mat-form-field class="labelfullwidth" floatLabel="always">
                        <mat-label class="labelfont">Purchace Price</mat-label>
                        <input matInput value="" class="textboxfont">
                      </mat-form-field> -->
                    </div>
                  </div>


                  <!-- <div class="row" >
                    <div class="col-md-6">
                      <mat-form-field class="labelfullwidth" floatLabel="always">
                        <mat-label class="labelfont">Manufacture Date</mat-label>
                        <input matInput [matDatepicker]="myDatePicker" >
                        <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #myDatePicker startView="multi-year"></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="labelfullwidth" floatLabel="always">
                        <mat-label class="labelfont">Expiry Date</mat-label>
                        <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div> -->
                    <button class="btn btn-primary mb-2 mr-2" (click)="SaveMedicine()" >Save</button>

                </mat-card>

               
                  <mat-card>
                    <mat-form-field>
                        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                      </mat-form-field>
                      <div class="example-container mat-elevation-z8 table  table-bordered table-sm">
                      <table mat-table [dataSource]="dataSource3" matsort class="mat-elevation-z8 table-striped table-bordered table-hover">
    
                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                      
                   <!-- Position Column -->
                   <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <!-- <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="{{element.id}}" class="textboxfont" > </td>                     -->
                    <td mat-cell *matCellDef="let element" >  <mat-icon  style="color:#1976D2">
                      remove_circle
                      </mat-icon>
                      <mat-icon  style="color:#1976D2;">
                        edit
                      </mat-icon> </td>                    

                  </ng-container>
    
                        <!-- Position Column -->
                        <ng-container matColumnDef="genericname">
                          <th mat-header-cell  *matHeaderCellDef class="tableheader"> Generic Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.genericname}} </td>
                        </ng-container>
                        <ng-container matColumnDef="brandname">
                          <th mat-header-cell  *matHeaderCellDef class="tableheader"> Brand Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.brandname}} </td>
                        </ng-container>

                        <ng-container matColumnDef="drugtype">
                          <th mat-header-cell  *matHeaderCellDef class="tableheader"> Drug Type </th>
                          <td mat-cell *matCellDef="let element"> {{element.drugtype}} </td>
                        </ng-container>

                        <ng-container matColumnDef="supplier">
                          <th mat-header-cell  *matHeaderCellDef class="tableheader"> Supplier </th>
                          <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
                        </ng-container>

                        <ng-container matColumnDef="drugstrength">
                          <th mat-header-cell  *matHeaderCellDef class="tableheader" style="text-align: right;"> Drug Strength </th>
                          <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{element.drugstrength}} </td>
                        </ng-container>


                        <ng-container matColumnDef="unit">
                          <th mat-header-cell  *matHeaderCellDef class="tableheader"> Unit </th>
                          <td mat-cell *matCellDef="let element" > {{element.unit}} </td>
                        </ng-container>

                        <ng-container matColumnDef="unitprice">
                          <th mat-header-cell  *matHeaderCellDef class="tableheader"  style="text-align: right;"> Unit Price </th>
                          <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.unitprice}} </td>
                        </ng-container>

                        <ng-container matColumnDef="mimimumqty"  >
                          <th mat-header-cell  *matHeaderCellDef class="tableheader" style="text-align: right;"> Mimimum Qty </th>
                          <td mat-cell *matCellDef="let element" style="text-align: right;" > {{element.mimimumqty}} </td>
                        </ng-container>

                        <ng-container matColumnDef="manufacturedate">
                          <th mat-header-cell  *matHeaderCellDef class="tableheader"  style="text-align: right;"> Manufacture Date </th>
                          <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{element.manufacturedate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="expirydate">
                          <th mat-header-cell  *matHeaderCellDef class="tableheader" style="text-align: right;"> Expiry Date </th>
                          <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{element.expirydate}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPharmacy"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPharmacy;"></tr>
                      </table>
                      </div>
<mat-paginator [length]="100"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>



                  </mat-card>
                  


              
              </mat-card>


              </div>
</div>
</div>
</div>