<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>
  
    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
            
          </div>
          <div class="col-10">
            <div class="lds-spinner" *ngIf="showLoadingIndicator" >
              <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="tablemap" style="margin-top: 10px;">
                <mat-card>
                    <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row" style="margin-top: 50px; "> 
                        <div class="col-md-6">                        
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Brand Name</mat-label>
                            <mat-select disableRipple class="textboxfont" required #medicineBrandSettingId="ngModel" name="medicineBrandSettingId"  [(ngModel)]="medicineBrandNameDto.medicineBrandSettingId" >
                                <mat-option *ngFor="let option of brandSetting" [value]="option.id">
                                    {{option.brandName}} 
                                  </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <small class="text-danger" [class.d-none]="medicineBrandSettingId.valid || medicineBrandSettingId.untouched" >Brand Name is required</small>
                        </div>
                        <div class="col-md-6">
                            <button [disabled]="userForm.form.invalid" class="btn btn-primary mb-2 mr-2" type="submit" >Generate Report</button> &nbsp;

                        </div>
                        

                        </div>

                        </form>
                        </mat-card>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>




                        <div id="print-section" hidden> 
                            <div class="container">
                              <div class="row" >
                            
                                <table>
                                  <tbody>
                                    <!-- <tr>
                                      <td class="print_doc_name">DR.Aruni Fernando</td>
                                      <td > PGDH Sc - Diabetology,Uk </td> 
                                      <td > PDC- Diabetology, Boston,USA </td> 
                                      <td > Regd.No - 16401(AMC) </td> 
                                    </tr> -->
                                    <tr>
                                      <td>
                                        <div id="bloc2"> <div style="width:800px;height:100px ">
                                          <span style="font-family: 'Times New Roman', Times, serif; margin-left: 50px ; font-size: 25px;">DR.Aruni Fernando <sub style=" font-size: 10px;">MBBS</sub> </span>
                                         <br/> <span style="font-family: 'Times New Roman', Times, serif;margin-left: 50px ; font-size: 15px;">PGDH Sc - Diabetology,Uk </span>
                                         <br/> <span style="font-family: 'Times New Roman', Times, serif;margin-left: 50px ; font-size: 15px;">PDC- Diabetology, Boston,USA  </span>
                                         <br/> <span style="font-family: 'Times New Roman', Times, serif;margin-left: 50px ; font-size: 15px;">Regd.No - 16401(AMC)  </span>
                                        </div></div>
                                      </td> 
                                      <td>
                                        <div id="bloc2"> <div style="width:300px;height:100px ">
                                          <span style="font-family: 'Times New Roman', Times, serif; margin-left: 50px ; font-size: 20px;"></span>
                                         <br/> <br />  <span style="font-family: 'Times New Roman', Times, serif; font-size: 15px; text-align: right">Contact Number : 077-655454 </span>
                                         <br/> <span style="font-family: 'Times New Roman',  Times, serif; font-size: 15px; text-align: right;">Email : aruni@gmail.com  </span>
                                         <br/> <span style="font-family: 'Times New Roman',  Times, serif; font-size: 15px; text-align: right;">Date : {{today | date:'fullDate'}}  </span>
                                        </div></div>
                                      </td> 
                                    </tr>
                                  </tbody>
                                </table>
                                <hr />
                              </div>
                          
                              <div class="card" style="margin-top: 25px;" >
                                
                                <div class="row">
                                  <table>
                                    <!-- <tr>
                                      <th><div id="bloc2"> <div style="width:250px;height:30px;border:1px solid #000; ">
                                        <span style="margin-left: 20px ; font-size: 10px;">Medicine </span>
                                      </div></div></th>
                                      <th><div id="bloc2"> <div style="width:500px;height:30px;border:1px solid #000; ">
                                        <span style="margin-left: 20px ; font-size: 10px;">Dose </span>
                                      </div></div></th>
                                      <th><div id="bloc2"> <div style="width:250px;height:30px;border:1px solid #000; ">
                                        <span style="margin-left: 20px ; font-size: 10px;">QTY </span>
                                      </div></div></th>
                                    </tr> -->
                                    <!-- <tr >
                                      <td><div id="bloc2"> <div style="width:250px;height:30px;">
                                        <span style="margin-left: 20px ; font-size: 15px;">{{pdfData.insertBrandName}} </span>
                                      </div></div></td>
                                      <td><div id="bloc2"> <div style="width:500px;height:30px;">
                                        <span style="margin-left: 20px ; font-size: 15px;">{{pdfData.insertAmount}} </span>
                                      </div></div></td>
                                      <td><div id="bloc2"> <div style="width:250px;height:30px; ">
                                        <span style="margin-left: 20px ; font-size: 15px;">{{pdfData.balanceAmount}} </span>
                                      </div></div></td>
                                     -->
                                    <!-- </tr> -->
                                    </table> 
                                </div>
                                
                          
                                </div>
                              </div>
                              </div>