<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
            
          </div>
          <div class="col-10">
            <div class="lds-spinner" *ngIf="showLoadingIndicator" >
              <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="tablemap" style="margin-top: 10px;">
                <mat-card>
                    <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row" style="margin-top: 50px; "> 

                        <div class="col-md-6">
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                              <mat-label class="labelfont">Company Name</mat-label>
                              <input matInput value="" class="textboxfont"  name="companyName"  [(ngModel)]="supplierModel.companyName" >
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                              <mat-label class="labelfont">Supplier Name</mat-label>
                              <input matInput value="" class="textboxfont" required #supplierName="ngModel" name="supplierName"  [(ngModel)]="supplierModel.supplierName" >
                            </mat-form-field>
                            <small class="text-danger" [class.d-none]="supplierName.valid || supplierName.untouched" >Supplier Name is required</small>
                          </div>

                        </div>
                        <div class="row" >
                            <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Address</mat-label>
                                  <input matInput value="" class="textboxfont"  name="address"  [(ngModel)]="supplierModel.address" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                    <mat-form-field class="labelfullwidth" floatLabel="always">
                                      <mat-label class="labelfont">Telephone</mat-label>
                                      <input matInput value="" class="textboxfont" required #telephone="ngModel" name="telephone"  [(ngModel)]="supplierModel.telephone" >
                                    </mat-form-field>
                                    <small class="text-danger" [class.d-none]="telephone.valid || telephone.untouched" >Telephone is required</small>
                           
                              </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Email</mat-label>
                                  <input matInput value="" class="textboxfont"  name="email"  [(ngModel)]="supplierModel.email" >
                                </mat-form-field>
                       
                          </div>
                          <div class="col-md-6"></div>
                        </div>
                        <div class="row" >
                            <div class="col-md-4">
                                <button [disabled]="userForm.form.invalid" class="btn btn-primary mb-2 mr-2" type="submit" >Save</button> &nbsp;
                                <button class="btn btn-outline-primary mb-2 mr-2" (click)="Clean()" type="button" >Edit</button>
                            </div>
                        </div>
                        </form>

                        <div class="row" style="margin-top: 20px;">
                     
                            <div class="col-md-12">
                                    <mat-form-field>
                                        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                                      </mat-form-field>
                                      <div class="example-container mat-elevation-z8 table  table-bordered table-sm"></div>
                                      <table mat-table [dataSource]="dataSource" matSort>
                    
                                        <!--- Note that these columns can be defined in any order.
                                              The actual rendered columns are set as a property on the row definition" -->
                                      
                                   <!-- Position Column -->
                                   <ng-container matColumnDef="id">
                                    <th mat-header-cell  *matHeaderCellDef>  </th>
                                    <td mat-cell *matCellDef="let element" id="{{element.id}}"> <mat-icon  color="primary"><a (click)="removeSupplier(element)"> remove_circle</a>&nbsp; <a (click)="editSupplier(element)"> edit</a></mat-icon> </td>
                                    
                                  </ng-container>
                    
                    
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="companyname">
                                          <th mat-header-cell mat-sort-header  *matHeaderCellDef> Company Name </th>
                                          <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="suppliername">
                                            <th mat-header-cell mat-sort-header  *matHeaderCellDef> Supplier Name </th>
                                            <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
                                          </ng-container>

                                          <ng-container matColumnDef="phomenumber">
                                            <th mat-header-cell mat-sort-header  *matHeaderCellDef> Phone Number </th>
                                            <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
                                          </ng-container>

                                        <ng-container matColumnDef="email">
                                            <th mat-header-cell mat-sort-header  *matHeaderCellDef> Email </th>
                                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                          </ng-container>


                                          

              
        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPharmacy"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPharmacy;"></tr>
                                      </table>
                                    </div>
        <mat-paginator [length]="100"
                      [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
                                  
                            </div>
                        </mat-card>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
