<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
            
          </div>
          <div class="col-10">
            <div class="lds-spinner" *ngIf="showLoadingIndicator" >
              <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="tablemap" style="margin-top: 10px;">
                <mat-card>
                    <div class="row" style="margin-top: 50px; margin-left: 50px;"> 
                       
                        
            <div class="col-md-6">
                <mat-form-field class="labelfullwidth" floatLabel="always">
                  <mat-label class="labelfont">Doctor SLMC</mat-label>
                  <input matInput value="" class="textboxfont" id="serch_first_name" name="firstName"  >
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="SearchDoctor()" type="submit" >Search</button>

              </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                    
                        <div class="col-md-12" >

                          
                        <mat-form-field>
                          <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                        </mat-form-field>
                        <table ngmo mat-table [dataSource]="dataSource3" class="mat-elevation-z8 text-nowrap tblFont table table-bordered container-fluid table-hover table-sm thead-dark" 
                        style="text-align: left; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width:100%">

                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef >Id  </th>
                          <td mat-cell *matCellDef="let element"> 
                            <mat-checkbox (change)="$event ? masterToggle($event,element) : null" name="invest"></mat-checkbox>  
                          </td>
                        </ng-container>
                        

                          <ng-container matColumnDef="First Name">
                            <th mat-header-cell *matHeaderCellDef> First Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.firstName  }} </td>
                          </ng-container>
                        
                          <ng-container matColumnDef="Last Name">
                            <th mat-header-cell *matHeaderCellDef> Last Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                          </ng-container>

                          <ng-container matColumnDef="DOB">
                            <th mat-header-cell *matHeaderCellDef> Gender </th>
                            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                          </ng-container>

                          <ng-container matColumnDef="Email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                          </ng-container>

                          <ng-container matColumnDef="slmcNumber">
                            <th mat-header-cell *matHeaderCellDef> SLMC </th>
                            <td mat-cell *matCellDef="let element"> {{element.slmcNumber}} </td>
                          </ng-container>

                          <ng-container matColumnDef="isEmailVerify">
                            <th mat-header-cell *matHeaderCellDef> Email Verify </th>
                            <td mat-cell *matCellDef="let element"> {{element.isEmailVerify}} </td>
                          </ng-container>
                        
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumnsTests"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsTests;"></tr>
                        </table>

                        <mat-paginator 
                        [pageSizeOptions]="[5, 10, 25, 100]"> showFirstLastButtons </mat-paginator>
                      
                        <button class="btn btn-primary mb-2 mr-2" (click)="SendComformation()" >Conform Doctor</button>


                        </div>
                        
                      </div>
                </mat-card>
                </div>
                </div>
                </div>
                </div>
                </div>
