<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-navbar></app-navbar>
    </div>
  </div>

  <div class="container-fluid bodycontainer">
      <div class="row">
        <div class="col-2">
              <app-left-menu></app-left-menu>
          
        </div>
        <div class="col-10">

          <div class="lds-spinner" *ngIf="showLoadingIndicator" >
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="tablemap" style="margin-top: 10px;">
              <mat-card>

                <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
                  <div class="row" style="margin-top: 50px; "> 

                      <div class="col-md-6">                        
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                          <mat-label class="labelfont">Brand Name</mat-label>
                          <mat-select disableRipple class="textboxfont" required #medicineBrandSettingId="ngModel" name="medicineBrandSettingId"  [(ngModel)]="medicineBrandNameDto.medicineBrandSettingId" >
                              <mat-option *ngFor="let option of brandSetting" [value]="option.id">
                                  {{option.brandName}} 
                                </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <small class="text-danger" [class.d-none]="medicineBrandSettingId.valid || medicineBrandSettingId.untouched" >Brand Name is required</small>
                      </div>
                      <div class="col-md-6">                        
                        <mat-form-field class="labelfullwidth" floatLabel="always">
                        <mat-label class="labelfont">Supplier</mat-label>
                        <mat-select disableRipple class="textboxfont" required #supplierId="ngModel" name="supplierId"  [(ngModel)]="medicineBrandNameDto.supplierId" >
                            <mat-option *ngFor="let option of supplyer" [value]="option.id">
                                {{option.supplierName}} 
                              </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <small class="text-danger" [class.d-none]="supplierId.valid || supplierId.untouched" >Supply is required</small>
                    </div>

                      </div>
                      <div class="row" >
                        <div class="col-md-6">                        
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                          <mat-label class="labelfont">Drug Type</mat-label>
                          <mat-select disableRipple class="textboxfont" required #drugTypeId="ngModel" name="drugTypeId"  [(ngModel)]="medicineBrandNameDto.drugTypeId" >
                              <mat-option *ngFor="let option of drugTypes" [value]="option.id">
                                  {{option.type}} {{option.imgUrl}} 
                                </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <small class="text-danger" [class.d-none]="drugTypeId.valid || drugTypeId.untouched" >Drug Type is required</small>
                      </div>
                            <div class="col-md-6">
                                  <mat-form-field class="labelfullwidth" floatLabel="always">
                                    <mat-label class="labelfont">Strength</mat-label>
                                    <input matInput value="" class="textboxfont" required #drugStrength="ngModel" name="drugStrength"  [(ngModel)]="medicineBrandNameDto.drugStrength" >
                                  </mat-form-field>
                                  <small class="text-danger" [class.d-none]="drugStrength.valid || drugStrength.untouched" >Drug Strength is required</small>
                         
                            </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">No of Unit</mat-label>
                            <input matInput value="" class="textboxfont" required #unit="ngModel" name="unit"  [(ngModel)]="medicineBrandNameDto.unit" >
                          </mat-form-field>
                          <small class="text-danger" [class.d-none]="unit.valid || unit.untouched" >No of Unit is required</small>
                 
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="labelfullwidth" floatLabel="always">
                        <mat-label class="labelfont">Purchase Price</mat-label>
                        <input matInput value="" class="textboxfont" required #purchacePrice="ngModel" name="purchacePrice"  [(ngModel)]="medicineBrandNameDto.purchacePrice" >
                      </mat-form-field>
                      <small class="text-danger" [class.d-none]="purchacePrice.valid || purchacePrice.untouched" >Purchase price is required</small>
             
                </div>


                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Manufacture Date</mat-label>
                            <input id="txtDateOfBirth"   matInput [matDatepicker]="picker"  name="manufactureDate"  [(ngModel)]="medicineBrandNameDto.manufactureDate" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="labelfullwidth" floatLabel="always">
                            <mat-label class="labelfont">Expiry Date</mat-label>
                            <input matInput [matDatepicker]="myDatePicker"  id="expiryDate" name="expiryDate"  [(ngModel)]="medicineBrandNameDto.expiryDate">
                            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #myDatePicker startView="multi-year"></mat-datepicker>
                          </mat-form-field>
                        </div>


                      </div>


                      <div class="row" >
                          <div class="col-md-4">
                              <button [disabled]="userForm.form.invalid" class="btn btn-primary mb-2 mr-2" type="submit" >Save</button> &nbsp;
                              <button class="btn btn-outline-primary mb-2 mr-2" (click)="Clean()" type="button" >Edit</button>
                          </div>
                      </div>
                      </form>


                      <div class="row" style="margin-top: 20px;">
                     
                        <div class="col-md-12">
                                <mat-form-field>
                                    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                                  </mat-form-field>
                                  <div class="example-container mat-elevation-z8 table  table-bordered table-sm"></div>
                                  <table mat-table [dataSource]="dataSource" matSort>
                
                                    <!--- Note that these columns can be defined in any order.
                                          The actual rendered columns are set as a property on the row definition" -->
                                  
                               <!-- Position Column -->
                               <ng-container matColumnDef="stockid">
                                <th mat-header-cell  *matHeaderCellDef>  </th>
                                <td mat-cell *matCellDef="let element" id="{{element.id}}"> <mat-icon  color="primary"><a (click)="removeMedicine(element)"> remove_circle</a>&nbsp; <a (click)="editMedicine(element)"> edit</a></mat-icon> </td>
                                
                              </ng-container>
                
                                      <ng-container matColumnDef="strength">
                                        <th mat-header-cell mat-sort-header  *matHeaderCellDef> Strength </th>
                                        <td mat-cell *matCellDef="let element"> {{element.drugStrength}} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="noofunit">
                                        <th mat-header-cell mat-sort-header  *matHeaderCellDef> No of Unit </th>
                                        <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
                                      </ng-container>

                                      
                                      <ng-container matColumnDef="purchacePrice">
                                        <th mat-header-cell mat-sort-header  *matHeaderCellDef> Unit Price </th>
                                        <td mat-cell *matCellDef="let element"> {{element.purchacePrice}} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="createDate">
                                        <th mat-header-cell mat-sort-header  *matHeaderCellDef> Create Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.createDate | date :'medium'}} </td>
                                      </ng-container>
                                   


                                      

          
    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPharmacy"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPharmacy;"></tr>
                                  </table>
                                </div>
    <mat-paginator [length]="100"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
                              
                        </div>

                </mat-card>
                </div>

          </div>
          </div>
          </div>
          </div>