<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
            
          </div>
          <div class="col-10">
            <app-patient></app-patient>
          </div>
        </div>
      </div>
</div>