<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="container-fluid bodycontainer">
        <div class="row">
          <div class="col-2">
                <app-left-menu></app-left-menu>
          </div>
          <div class="col-10">
            <div class="lds-spinner" *ngIf="showLoadingIndicator" >
              <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="tablemap" style="margin-top: 10px;">
                <mat-card class="matcardspace">
                    <mat-card-header class="text-oneline">
                      <mat-card-title >Doctor Details</mat-card-title>
                    </mat-card-header>
                    <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row" style="margin-top: 50px; " > 

                        <div class="col-md-6">
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                              <mat-label class="labelfont">First Name</mat-label>
                              <input matInput value="" required #firstName="ngModel" class="textboxfont" id="serch_first_name" name="firstName"   [(ngModel)]="doctorModel.firstName"  >
                            </mat-form-field>
                            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched" >First Name is required</small>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field class="labelfullwidth" floatLabel="always">
                              <mat-label class="labelfont">Last Name</mat-label>
                              <input matInput value="" required #lastName="ngModel" class="textboxfont" id="serch_first_name" name="lastName"   [(ngModel)]="doctorModel.lastName"  >
                            </mat-form-field>
                            <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched" >Last Name is required</small>
                          </div>


                        </div>

                        <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="labelfullwidth" floatLabel="always">
                                <mat-label class="labelfont">Date Of Birth</mat-label>
                                <input id="txtDateOfBirth"  required #dateOfBirth="ngModel" name="dateOfBirth" matInput [matDatepicker]="picker"    [(ngModel)]="doctorModel.dateOfBirth">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              <small class="text-danger" [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched" >Date Of Birth is required</small>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="labelfullwidth" floatLabel="always">
                                <mat-label class="labelfont">NIC</mat-label>
                                <input id="txtNIC" name="nic" matInput value="" class="textboxfont"    [(ngModel)]="doctorModel.nic">
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                    
                              <mat-label  class="radiobtn">Gender</mat-label><br />
                              <mat-radio-group aria-label="Select an option" class="textboxfont" id="radioGender"  required #gender="ngModel" name="gender"    [(ngModel)]="doctorModel.gender" >
                                <mat-radio-button value="male"   id="radioMale"  >Male</mat-radio-button>
                                <mat-radio-button value="female"  id="radioFemale" >Female</mat-radio-button>
                              </mat-radio-group>
                              
                              <small class="text-danger" [class.d-none]="gender.valid || gender.untouched" >Gender is required</small>
                            </div>
                            
                            <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Email</mat-label>
                                  <input matInput value="" required #email="ngModel" class="textboxfont" id="serch_first_name" name="email"   [(ngModel)]="doctorModel.email"  >
                                </mat-form-field>
                                <small class="text-danger" [class.d-none]="email.valid || email.untouched" >Last Name is required</small>
                              </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Phone Number</mat-label>
                                  <input matInput value="" required #phoneNumber="ngModel" class="textboxfont" id="serch_first_name" name="phoneNumber"   [(ngModel)]="doctorModel.phoneNumber"  >
                                </mat-form-field>
                                <small class="text-danger" [class.d-none]="phoneNumber.valid || phoneNumber.untouched" >Last Name is required</small>
                              </div>

                              <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">SLMC Number</mat-label>
                                  <input matInput value="" required #slmcNumber="ngModel" class="textboxfont" id="serch_first_name" name="slmcNumber"   [(ngModel)]="doctorModel.slmcNumber"  >
                                </mat-form-field>
                                <small class="text-danger" [class.d-none]="slmcNumber.valid || slmcNumber.untouched" >Last Name is required</small>
                              </div>

                          </div>


                        <div class="row">

                            <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">User Name</mat-label>
                                  <input matInput value=""  required #userName="ngModel" class="textboxfont" id="serch_first_name" name="userName"    [(ngModel)]="doctorModel.userName"  >
                                </mat-form-field>
                                <small class="text-danger" [class.d-none]="userName.valid || userName.untouched" >User Name is required</small>

                              </div>
    
                              <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Password</mat-label>
                                  <input matInput type="password"   required #password="ngModel" class="textboxfont" id="serch_first_name" name="password"   [(ngModel)]="doctorModel.password"  >
                                </mat-form-field>
                                <small class="text-danger" [class.d-none]="password.valid || password.untouched" >Password is required</small>

                              </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="labelfullwidth" floatLabel="always">
                                  <mat-label class="labelfont">Address</mat-label>
                                  <input matInput value=""  required #address="ngModel" class="textboxfont" id="serch_first_name" name="address"    [(ngModel)]="doctorModel.address"  >
                                </mat-form-field>
                                <small class="text-danger" [class.d-none]="address.valid || address.untouched" >User Name is required</small>

                              </div>
                        </div>
<!-- 
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                  <mat-radio-group (change)="onChange($event)">
                                    <mat-radio-button value="System_User" checked>System User</mat-radio-button>
                                    <mat-radio-button value="Doctor" #female>Doctor</mat-radio-button>
                                  </mat-radio-group> 
                            </div>
                                <div class="col-md-6" >
                                    <mat-form-field class="labelfullwidth" floatLabel="always">
                                      <mat-label class="labelfont">Doctor SLMC Number</mat-label>
                                      <input matInput  required #slmcNumber="ngModel"  class="textboxfont" id="serch_first_name" name="slmc"    [(ngModel)]="doctorModel.slmc"  >
                                    </mat-form-field>
                                    <small class="text-danger" [class.d-none]="slmcNumber.valid || slmcNumber.untouched" >SLMC is required</small>

                                  </div>
                        </div> -->

                        <div class="row" style="margin-top: 50px;">
                            <button [disabled]="userForm.form.invalid" class="btn btn-primary mb-2 mr-2" type="submit" >Save</button> &nbsp;                        </div>


                    </form>
                </mat-card>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>